<h1>Welcome to CSE Motors!</h1>
<section class="hero grid">
    <div class="own">
        <h2>DMC Delorean</h2>
        <p>3 Cups holders</p>
        <p>Superman doors</p>
        <p>fuzzy dice!</p>
        <button>Own Today</button>
    </div>
</section>
<section class="delorean grid grid2">
    <div class="upgrades grid grid2">
        <h2>Delorean Upgrades</h2>
        <div class="image-link">
            <div class="image-div">
                <img src="../images/upgrades/flux-cap.png" alt="">
            </div>
            <div class="link">
                <a href="#">Flux Capacitor</a>
            </div>
        </div>
        <div class="image-link">
            <div class="image-div">
                <img src="../images/upgrades/flame.jpg" alt="">
            </div>
            <div class="link">
                <a href="#">Frame decals</a>
            </div>
        </div>
        <div class="image-link">
            <div class="image-div">
                <img src="../images/upgrades/bumper_sticker.jpg" alt="">
            </div>
            <div class="link">
                <a href="#">Bumper Stikers</a>
            </div>
        </div>
        <div class="image-link">
            <div class="image-div">
                <img src="../images/upgrades/hub-cap.jpg" alt="">
            </div>
            <div class="link">
                <a href="#">Hub Caps</a>
            </div>
        </div>
    </div>
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>
                "So fast it's almost like traveling in time." (4/5)
            </li>
            <li>
                "Coolest ride on the road."(4/5)
            </li>
            <li>
                "I'm feeling McFly!" (5/5)
            </li>
            <li>
                "The most futuristic ride if our day." (4.5/5)
            </li>
            <li>
                "80's livin and I love it" (5/5)
            </li>
        </ul>
    </div>
</section>